$section-width-left: 40%;
$padding-top: 15px;
$section-gap: 30px;

@mixin background {
    background: var(--background-color);
}

@mixin small-text {
    // font-size: $font-size-small;
    font-size: var(--font-size-small);
}

@mixin x-small-text {
    // font-size: $font-size-x-small;
    font-size: var(--font-size-x-small);
}

.resume {
    $section-title-font-size: 1.2rem;
    --font-size: 0.8rem;
    --font-size-small: calc(var(--font-size) - 0.1rem);
    --font-size-x-small: calc(var(--font-size-small) - 0.1rem);

    @include background;
    min-width: 800px;
    width: 75%;
    display: flex;
    justify-self: center;
    position: relative;
    flex-direction: column;
    gap: 20px;

    .header {
        @include background;
        border-bottom: var(--primary-border);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px 5px;
        z-index: 1;
        //color: #9dbeb9;

        &-name {
            > div:nth-of-type(1) {
                font-size: 3em;
                font-weight: 500;
                opacity: 0.8;
            }
            > div:nth-of-type(2) {
                padding-left: 4px;
                font-size: 1.2rem;
                font-style: italic;
                opacity: 0.8;
            }
        }
        &-info {
            font-size: var(--font-size-x-small);
            display: flex;
            flex-direction: column;
            gap: 4px;
            font-style: italic;
            a {
                all: unset;
                cursor: pointer;
            }
            > div,
            > a {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 5px;

                //color: var(--primary-color);
            }
        }
    }

    .website-link {
        font-size: var(--font-size-x-small);
    }

    .section-wrapper {
        @include background;
        width: 100%;
        display: flex;
        flex-flow: wrap;
        flex-direction: row;
        gap: 0 $section-gap;
        .section + .section {
            padding-top: calc(#{$section-gap} / 2);
        }
        .section {
            display: grid;
            // grid-template-columns: 5ch 1fr;
            height: fit-content;
            gap: 0 calc(#{$section-gap} / 2);
            font-size: var(--font-size);
            letter-spacing: 0.01em;
            --entry-font-size: var(--font-size);

            &.small-text {
                --entry-font-size: var(--font-size-x-small);
            }

            &-summary {
                width: 100%;
                margin-bottom: $padding-top;
            }

            &-left {
                width: calc(#{$section-width-left} - #{$section-gap});
            }

            &-right {
                width: calc(100% - #{$section-width-left});
                .section {
                    grid-template-columns: 8fr;
                }
            }

            &-border {
                border-bottom: 1px solid var(--secondary-color);
                grid-column: 1/-1;
                grid-gap: 0;
                grid-row: span 0;
            }

            &-title {
                @include background;
                color: var(--secondary-color);
                font-size: $section-title-font-size;
                font-weight: 500;
                font-style: italic;
                border-radius: 5px;
                display: flex;
                justify-content: space-between;

                &-highlight {
                    border-radius: 5px;
                    animation-delay: 0.5s;
                    animation-name: highlight;
                    animation-duration: 1.5s;
                    //animation-iteration-count: 2;
                    animation-timing-function: ease;
                }

                &-right {
                    display: flex;
                    align-items: flex-end;
                    font-size: var(--font-size-x-small);
                    padding-bottom: 2px;
                }
            }

            &-entry {
                position: relative;
                margin-top: $padding-top;
                @include background;

                &-header {
                    display: flex;
                    justify-content: space-between;

                    &-date {
                        @include x-small-text;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        white-space: pre-line;
                    }
                }

                &-content {
                    font-size: var(--entry-font-size);
                }
            }

            &-list {
                --number-of-cols: 4;
                display: grid;
                grid-template-columns: repeat(var(--number-of-cols), auto);
                gap: 4px 15px;

                &-narrow {
                    width: 90%;
                }

                &-indent {
                    // padding-left: 2ch;
                }

                &-item {
                    display: flex;
                    align-items: flex-start;
                    gap: 2px;

                    &-icon {
                        > svg {
                            display: block;
                            font-size: var(--font-size-small);
                            color: var(--secondary-color);
                            margin-top: 2px;
                        }
                    }
                }
            }
        }
    }

    .small-text {
        @include small-text;
    }

    .position-information {
        display: flex;
        font-weight: 700;
        color: var(--secondary-color);
        letter-spacing: 1.5px;
        > span {
            white-space: nowrap;
        }

        &-project {
            text-decoration: underline;
            text-underline-offset: 2px;
            margin-bottom: 4px;
            margin-top: 6px;
        }
    }
}

.divider {
    --padding: 15px;
    width: 100%;
    margin-top: var(--padding);
    margin-bottom: var(--padding);
    height: 1px;
    background: var(--secondary-color);
}

@keyframes highlight {
    0% {
    }
    25% {
        //padding: 0 20px;
        background: rgba(var(--secondary-color-rgb), var(--hover-opacity));
    }
    75% {
        //padding: 0 20px;
        //background: rgba(var(--secondary-color-rgb), var(--hover-opacity));
    }
    100% {
    }
}
